body,
textarea,
input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: #292929;
  background-color: #fff;
}

header {
  background-color: #54b689;
  color: #fff;
  padding: 30px;
  flex-basis: min-content;
}

h1,
header p {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
nav a {
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}
.selected {
  color: #3a7e5f;
}
.button-hire-me {
  background-color: #3a7e5f;
  border-radius: 5px;
  padding: 10px 15px 10px 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit;
}

.about-me {
  background-color: #fafafa;
  display: flex;
  padding: 100px 30px;
}
.about-me-portfolio {
  background-color: #fafafa;
  padding: 100px 30px;
  text-align: center;
}

.bio {
  margin-bottom: 100px;
}
.btn-view-portfolio {
  background-color: #54b689;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin-right: 15px;
}
.btn-view-resume {
  background-color: #4f4f4f;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.what-i-do {
  padding: 30px;
}
.what-i-do h3 {
  padding: 10px;
  border-left: 5px solid #54b689;
}

.skills-list,
.project {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: baseline;
}
.skills-list li {
  width: calc(100% / 3 - 10px);
  margin-right: 10px;
}
.skills-list img {
  width: 100px;
}
.skills-list p {
  display: none;
}
.project li {
  text-align: center;
}

.socials,
.socials-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}
.socials__link,
.socials__link-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socials__link:hover,
.socials__link:focus,
.socials__link-contact:hover,
.socials__link-contact:focus {
  background-color: #3a7e5f;
}
.socials__link-contact:hover,
.socials__link-contact:focus {
  color: #fff;
}
.socials__link-contact,
.email {
  color: #3a7e5f;
}
.socials-contact {
  border-bottom: 1px solid #3a7e5f;
}
.socials__icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}
/* ------------------------------ */

.contact-form,
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-item {
  margin: 10px 0;
}
textarea,
input {
  font-family: inherit;
  border-width: 1px;
  border-radius: 2px;
  width: 100%;
}
.contact-form h2 {
  padding-top: 30px;
}
footer {
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 599px) {
  header h1,
  header img,
  header p,
  .socials,
  .button-hire-me {
    display: none;
  }
  nav {
    display: block;
    padding: 0;
  }
  nav a {
    padding: 10px;
  }
  h2 {
    margin: 0;
  }
  .about-me,
  .about-me-portfolio {
    padding: 50px 30px;
  }
  .bio {
    margin-bottom: 30px;
  }
  .btn-view-portfolio,
  .btn-view-resume {
    display: block;
    width: 75%;
    margin-bottom: 15px;
  }
  .about-me img {
    max-width: 150px;
  }
  .project img {
    max-width: 400px;
  }
}
@media (min-width: 600px) {
  body {
    display: flex;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    max-width: 200px;
  }
  .btn-view-portfolio,
  .btn-view-resume {
    display: inline-block;
    margin-bottom: 15px;
  }
  .project li {
    width: calc(100% / 2 - 10px);
    margin-right: 10px;
  }
  .project img {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }
  .about-me img {
    max-width: 400px;
  }
  .project li {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
  }
  form {
    width: 500px;
  }
  .form-item {
    width: 100%;
  }
}
